@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #31438f;
}

canvas {
    border: 2px solid whitesmoke; /* Minimalistic border added */
    border-radius: 5px;
    background-image: url("images/doodlejumpbg.png");
    background-size: cover;
}
